In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = 'G:/HFEA'

In [3]:
os.listdir(path)

['ar-2005-2009-xlsb.xlsb',
 'ar-1995-1999-xlsb.xlsb',
 'ar-2017-2018.xlsx',
 'guide-to-the-anonymised-register.pdf',
 'ar-2000-2004-xlsb.xlsb',
 'ar-2010-2014-xlsb.xlsb',
 'ar-1991-1994-xlsb.xlsb',
 'Merged data 1991-2016.ipynb',
 'FInal Merge.ipynb',
 'ar-2015-2016-xlsb.xlsb',
 'combined_data.csv',
 '2017-2018.xlsx',
 'Expression écrite 3_Niveau_3.pdf',
 'Le_Parisien_-_9_Juin_2024.PDF',
 '1991-2016.csv',
 'HFEA 2016.pbix',
 'HFEA 2018.pbix',
 'SOW v1.docx',
 'SOW v2 - Copy.docx']

In [4]:
till_2016 = [x for x in os.listdir(path) if x.endswith('.xlsb')]

In [8]:
till_2016.sort()

In [9]:
till_2016

['ar-1991-1994-xlsb.xlsb',
 'ar-1995-1999-xlsb.xlsb',
 'ar-2000-2004-xlsb.xlsb',
 'ar-2005-2009-xlsb.xlsb',
 'ar-2010-2014-xlsb.xlsb',
 'ar-2015-2016-xlsb.xlsb']

In [8]:
df.head()

,Patient Age at Treatment,Date patient started trying to become pregnant OR date of last pregnancy,"Total Number of Previous cycles, Both IVF and DI","Total Number of Previous treatments, Both IVF and DI at clinic",Total Number of Previous IVF cycles,Total Number of Previous DI cycles,"Total number of previous pregnancies, Both IVF and DI",Total number of IVF pregnancies,Total number of DI pregnancies,Total number of live births - conceived through IVF or DI,...,Heart Three Birth Weight,Heart Three Sex,Heart Three Delivery Date,Heart Three Birth Congenital Abnormalities,Heart Four Weeks Gestation,Heart Four Birth Outcome,Heart Four Birth Weight,Heart Four Sex,Heart Four Delivery Date,Heart Four Birth Congenital Abnormalities
0,18 - 34,NaN,3,1,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18 - 34,NaN,1,1,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18 - 34,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18 - 34,NaN,2,1,2,0,0,0,0,0,...,Between 1kg and 1.49Kg,F,1994.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35-37,NaN,2,0,2,0,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.loc[df['Type of treatment - IVF or DI'] == 'IVF','Specific treatment type'].value_counts()

Specific treatment type
IVF                      69491
MICROMANIPULATION         2024
IVF:MICROMANIPULATION      133
GIFT+IVF                     3
GIFT+Unknown                 2
GIFT                         2
Unknown                      1
GIFT+GIFT                    1
Name: count, dtype: int64

In [12]:
df.loc[df['Type of treatment - IVF or DI'] == 'IVF','Sperm From'].value_counts()

Sperm From
Partner            65059
Donor               6554
Partner & Donor      109
not assigned           2
Name: count, dtype: int64

In [10]:
# # data from 1991 to 2016
# files = [
#     "1991-1994.xlsb",
#     "1995-1999.xlsb",
#     "2000-2004.xlsb",
#     "2005-2009.xlsb",
#     "2010-2014.xlsb",
#     "2015-2016.xlsb"
# ]

# save dataframe
df_list = []

for file in till_2016:
    if file.endswith('.xlsb'):
        df = pd.read_excel(file, engine='pyxlsb')
        df = df.loc[(df['Type of treatment - IVF or DI'] == 'IVF') ]
        #df = df.loc[df['Sperm From']== 'Partner']
    else:
        df = pd.read_excel(file)
    df_list.append(df)

# merge data
# merged_df = pd.concat(df_list, index = 0, ignore_index=True)

# # save as csv
# merged_df.to_csv('1991-2016.csv', index=False)

In [11]:
merged_df = pd.concat(df_list, ignore_index=True)
merged_df.shape

(1135903, 95)

In [12]:
merged_df.to_csv('1991_2016.csv', index=False)

In [10]:
merged_df.head()

,Patient Age at Treatment,Date patient started trying to become pregnant OR date of last pregnancy,"Total Number of Previous cycles, Both IVF and DI","Total Number of Previous treatments, Both IVF and DI at clinic",Total Number of Previous IVF cycles,Total Number of Previous DI cycles,"Total number of previous pregnancies, Both IVF and DI",Total number of IVF pregnancies,Total number of DI pregnancies,Total number of live births - conceived through IVF or DI,...,Heart Three Birth Weight,Heart Three Sex,Heart Three Delivery Date,Heart Three Birth Congenital Abnormalities,Heart Four Weeks Gestation,Heart Four Birth Outcome,Heart Four Birth Weight,Heart Four Sex,Heart Four Delivery Date,Heart Four Birth Congenital Abnormalities
0,40-42,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18 - 34,17.0,3,3,3,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18 - 34,NaN,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18 - 34,3.0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35-37,9.0,3,3,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Cause of Infertility = 
# VAR Causes =
#     IF([Cause  of Infertility - Tubal disease] = 1, "Tubal disease" & ", ", "") &
#     IF([Cause of Infertility - Ovulatory Disorder] = 1, "Ovulatory Disorder" & ", ", "") &
#     IF([Cause of Infertility - Male Factor] = 1, "Male Factor" & ", ", "") &
#     IF([Cause of Infertility - Patient Unexplained] = 1, "Patient Unexplained" & ", ", "") &
#     IF([Cause of Infertility - Endometriosis] = 1, "Endometriosis" & ", ", "") &
#     IF([Cause of Infertility - Cervical factors] = 1, "Cervical factors" & ", ", "") &
#     IF([Cause of Infertility - Female Factors] = 1, "Female Factors" & ", ", "") &
#     IF([Cause of Infertility - Partner Sperm Concentration] = 1, "Partner Sperm Concentration" & ", ", "") &
#     IF([Cause of Infertility -  Partner Sperm Morphology] = 1, "Partner Sperm Morphology" & ", ", "") &
#     IF([Causes of Infertility - Partner Sperm Motility] = 1, "Partner Sperm Motility" & ", ", "") &
#     IF([Cause of Infertility -  Partner Sperm Immunological factors] = 1, "Partner Sperm Immunological factors" & ", ", "")
# RETURN
# IF(LEN(Causes) > 2, LEFT(Causes, LEN(Causes) - 2), "Unknown")

In [ ]:
# Success_birth_rate = SUM('1991-2016'[live births - conceived through IVF or DI])/SUM('1991-2016'[live births - conceived through IVF or DI])